<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="StyleSheet" href="login.component.css">
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-in">
            <form>
                <h1 id="loginh1">Sign In!</h1>
                <div class="social-icons">
                    <a href="#" class="icon">
                        <i class="fa-brands fa-google-plus-g"></i>
                    </a>
                </div>
                <span>
                    User your Email password</span>
                    <input type="Email" placeholder="Email" required>
                    <input type="Password" placeholder="Password" required>
                    <a href="#">Forgot your Password?</a>
                    <button>Sign In</button>
            </form>
        </div> 
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>  
                    <button class="hidden" id="register" (click) = "signup()">Sign Up</button>
                </div>
            </div>
        </div>    
    </div>
</body>
</html>